# Regression model to predict house price

In [1]:
import pandas as pd 
import numpy as np 
import sklearn as sk

In [2]:
data=pd.read_csv("home_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

data.groupby("zipcode").mean().max()

data.loc[(data["sqft_living"]>2000)&(data["sqft_living"]<4000)].count()/data.count()

In [3]:
y=np.array(data["price"])
x_basic=np.array(data["sqft_living"])
s=x_basic.shape
x_basic=x_basic.reshape(s[0],1)
x_advance=np.array(data[["bedrooms","condition","grade","waterfront","view","sqft_above","sqft_basement","yr_built","yr_renovated","lat","long","sqft_living15","sqft_lot15"]])

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x_basic,y)
x_train2,x_test2,y_train2,y_test2=train_test_split(x_advance,y)

In [6]:
model1=LinearRegression()
model2=LinearRegression()

In [7]:
model1.fit(x_train1,y_train1)
model2.fit(x_train2,y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
from sklearn.metrics import mean_squared_error

In [9]:
y_pred_model1=model1.predict(x_test1)
y_pred_model2=model2.predict(x_test2)

print("Error 1 ={0}".format((mean_squared_error(y_test1,y_pred_model1))**(1/2)))
print("Error 2 ={0}".format((mean_squared_error(y_test2,y_pred_model2))**(1/2)))

Error 1 =247157.32803877004
Error 2 =197058.25084119148

### Error 1 =262703.32960701163
### Error 2 =199896.4333140648